#addTuple {
  margin-bottom: 1em;
}

#addUserHeader {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

#addUrl{
  margin-bottom: 1em;
}

#accountTitle {
  margin: 0.5em;
}

#adminTable {
  width: 100%;
}

#adminTableContainer {
  width: 100%;
}

#appName {
  font-size: 10pt;
  font-weight: bold;
}

#appVersion {
  font-size: 0.5em;
  margin-top: 1.5em;
}

#formid {
  padding: 1em;
  border-radius: 1%;
}

#formSection {
  margin: 0.5em;
}

#helpButton {
  border-radius: 50%;
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;
}

#helpButton > img {
  border-radius: 50%;
}

#insertHistoryHere{
  border-color: #3d3d3d;
  border-width: 1px;
  border-style: solid;
}

#navButton {
  background-color: #000814;
  border: none;
}

#newsFocusedTitle {
  grid-column: 1;
  grid-row: 1;
}

#newsFocusedAuthor {
  grid-column: 1;
  grid-row: 2;
}

#newsFocusCloseButton {
  grid-column: 2;
  grid-row: 1 / span 2;
}

#offcanvasRightLabel {
  margin: 0;
}

#profileButton {
  float: right;
  background-color: #000814;
  border: none;
}

#shoppingCartButton{
  border:none;
  background-color: #000814;
}

#signOutButton {
  background: none;
  border: none;
  color: white;
  padding: 0;
}

#urlForm{
  margin-bottom: 1em;
}

.actionsHeader {
  text-align: center;
}

.addCartButton{
  margin-top: 0.5em;
}

.cardCategory {
  font-size: small;
}

.cartImage{
  max-height: 150px;
  width: auto;
  padding:1em;
}

.content {
  background-color: #c4c4c4;
}

.contentHeader {
  font-size: 18pt;
  font-weight: bold;
  padding-left: 0.5em;
  color: #c2c2c2;
}

.contentHeader > p {
  margin-bottom: 0;
  margin-top: 1em;
}

.deleteButton {
  padding: 0;
}

.disabled-link {
  cursor: default !important;
  pointer-events: none !important;
  color: grey !important;
}

.easterEggImage{
  max-width: 100%;
}

.formEntry {
  border-color: #3d3d3d;
}

.formFooter{
  margin-top: 1em;
}

.formOptions {
  margin: 0.5em;
}

.historyGroup{
  padding-right: 0;
}

.historyImage{
width: 35%;
max-width: 150px;
height: auto;
padding:0.5em;
}

.historyLabel{
  margin-right:0.5em;
}

.itemContainer{
  padding:1em;
}

.itemTitle{
  font-weight: 600;
  text-decoration: underline !important;
}

.menuGroup {
  margin-top: 0.5em;
}

.menuIcon {
  color: #939393;
  margin-right: 0.25em;
}

.menuItem > img {
  background-color: #939393;
  border-radius: 50%;
  margin: 0.25em;
  max-height: 1.5em;
}

.menuLabel {
  font-size: 0.9em;
  color: #939393;
  margin: 0;
}

.menuList {
  background-color: #000814;
}

.menuMore {
  font-size: 0.7em;
  float: right;
}

.modalAccount {
  background-color: #3d3d3d;
}

.navContainer{
  background-color: #000814;
}

.newsCategoryIcon {
  background-color: #939393;
  margin-right: 0.25em;
  border-radius: 25%;
}

.newsDashboardPrimary {
  padding: 0;
  padding-bottom: 1em;
}

.newsFocusHeading {
  display: grid;
  grid-template-columns: 93% 5% 2%;
  grid-template-rows: 65% 35%;
}

.newsPrimaryHeader {
  padding-left: 1em;
}

.newsSecondaryHeader {
  font-size: 10pt;
}

.newsTitle {
  font-weight: 600;
}

.offcanvas {
  max-width: 80%;
  background-color: #000814;
  border-color: #001d3d;
  color: white;
}

.primaryNewsGraphic {
  width: 100%;
  margin-bottom: 0.5em;
}

.profileHeader {
  font-size: 2em;
}

.profileHeader > img {
  width: 3em;
  background-color: #939393;
  border-radius: 50%;
}

.refreshButton {
  margin-right: 0.5em;
}

.shopTitle{
  padding:1em;
}

.stock-image{
  max-width: 100%;
  margin-bottom:1em;
}

.stockGraphic {
  max-width: 100%;
}

.stockHeader {
  margin: 0;
  font-size: 10pt;
}

.updateButton{
  margin-top:0.5em;
}

.urlButton{
  margin-left:0.5em;
  margin-bottom:1em;
}

.viewArticleButton {
  padding-top: 0.4rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a:active {
  color: #939393;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000814;
  color: white;
}

@media only screen and (max-width: 700px) {
  #adminTableContainer {
    overflow-x: scroll;
  }
}
